extends layout 

block content
  article.conteiner
    div.col-sm-3.col-md-5.col-md-offset-3
      h1 Prepare-se para mudar de vida! 
      hr
      p Primeiramente vamos começar o nosso dia com uma boa dose de café! 
      div.account-wall  
        img(src="/images/520584.jpg", alt="teste", width="400", height="341")
      br
      hr
      p Mais de 25 milhões de empregos domiciliares podem ser criados em setores não tecnológicos nos próximos anos, de acordo com a operadora de um mercado global para trabalhadores autônomos.

        "Pela primeira vez, empresas em setores como manufatura, agricultura e mineração reconheceram que muitos de seus serviços profissionais não precisavam ser feitos no local", afirmou a Upwork em seu relatório "Not Just Tech: Remote Freelancing Across Industries".

        "Isso abre oportunidades não apenas para as pessoas fazerem trabalho remoto, mas também para fazerem trabalho freelance remoto para essas empresas", observou o documento.

        "No total, há potencial para 25,7 milhões de empregos nos EUA a serem realizados por freelancers remotos em 'indústrias não tecnológicas'", continuou. "Essa escala pode ter grandes impactos não apenas no setor de autônomos, mas na economia como um todo."

        p Upwork chegou a essa conclusão usando os números do Bureau of Labor Statistics para analisar o número de empregos de serviços profissionais em indústrias não tecnológicas.

        p Ele explicou que nem todos os fabricantes hoje simplesmente fazem um produto. Os pesquisadores devem descobrir o que os clientes desejam, os engenheiros e designers industriais devem projetar o produto e a embalagem, os especialistas em marketing criam anúncios para vender o produto, os desenvolvedores da web criam o site da Web e os representantes de atendimento ao cliente lidam com as perguntas e comentários dos clientes. 

        img(src="/images/innovation.jpg", alt="teste", width="400", height="341")
        hr
        p O Ind Innovation é uma indústria que se preoculpa com o futuro, dessa forma criamos um encontro elaborado com o intuito de fomentar conversas a respeito da transformação tecnológica industrial e dos mecanismos para aplicar ou aprimorar esta digitalização dos processos de manufatura.
          |Conversas pautadas pelos seguintes temas:
          ol Portugal no contexto da indústria 4.0
          ol Implementação de tecnologias
          ol Capacitação como agente de transformação
          ol Sustentabilidade de forma competitiva
          ol O futuro da indústria 4.0
