extends layout 

block content
  article.conteiner
    div.col-sm-3.col-md-5.col-md-offset-3
      h1 Entre em contato com nós! 
      hr
      p Em caso de dúvida você pode está entrando em contato pelo telefone: 351 926 610 869
      p Ou se preferir, pode mandar um e-mail para o endereço: innveta_ind@gmail.com