extends layout

block content
    div#container 
    div.row
      div.col-sm-10.col-md-4.col-md-offset-4
        form(method='POST')
          legend Reset Password
          .form-group
            label(for='password') Nova senha
            input.form-control(type='password', name='password', value='', placeholder='New password', autofocus=true)
          .form-group
            label(for='confirm') Confirma a senha
            input.form-control(type='password', name='confirm', value='', placeholder='Confirm password')
          .form-group
            button.btn.btn-primary(type='submit') Criar nova senha