extends layout

block content
    article.conteiner
    div.col-sm-3.col-md-5.col-md-offset-3
      h1 Serviços
      ol • Outdoors
      ol • Reclames e sinaléticas
      ol • Decoração de viaturas
      ol • Impressão digital
      ol • Brindes personalizados
      ol • Design gráfico
      ol • Decoração de interiores