extends layout

block content
    article.conteiner
    div.col-sm-3.col-md-5.col-md-offset-3
      h1 Sobre nós 
      p INNVENTA nasceu produto de dois jovens empreendedores Rafael Ferreira com vários anos de experiencia em design e Bruno Oliveira estudante de Engenharia Mecânica na Universidade do Minho. Somos fortes psicologicamente, motivados e com experiência na área de design, publicidade, envelopamento automóvel e engenharia. 
      p Em finais de 2020, mesmo com as dificuldades pandémicas que ultrapassavamos decidimos arriscar e comecar este projeto. As nossas ideias foram surgindo, pois queriamos juntar os conhecimentos que ambos temos, bem como os vários anos que passamos na Suiça na cidade de Zurique. Esta experiencia no estrangeiro veio nos trazer uma enorme bagagem no que diz respeito a inovacao, empreendorismo e organização , onde pretendemos usar esse mesmo “metodo” na nossa vida empresarial.
      p Nos temos formacao profissional no ramo de design e engenharia trabalhando com programas como Photosphop, illustrator e Inventor. O envelopamento automovel surgiu, pois podemos marcar a  diferenca com as nossas qualidades profissionais e inovadoras. O nosso trabalho esta focado no cliente e no melhor serviço possivel.

        ol • Clientes Referencia
        ol • Contactos
        ol • Portefolio