extends layout

block content
  h1= title
  p Seja bem vindo à #{title}
  p Seu sonho aqui começa a torna-se realidade! 
  p Inventar significa criar algo que até então ninguém nunca tinha pensado. Existem pessoas, que com criatividade, força de vontade e determinação inventam novos objetos e aparelhos que transformam a vida das pessoas, ajudando em muitos aspectos do cotidiano. Estes são os inventores , e por isso merecem um dia só para eles. (dia 5 de novembro)

  p Algumas invenções podem nem sair do papel, porque, pelo menos em um determinado momento não são úteis, ou muito difíceis de colocar em prática, mas, quando um inventor percebe que sua invenção será útil, quer preservar os direitos de criação e deve patenteá-la.

  p Patentear significa registrar em documento que ele pensou e executou aquela invenção antes de qualquer outra pessoa, portanto tem direitos sobre ela. Se essa invenção for vendida comercialmente, o inventor terá uma participação nos lucros daquele objeto.

  p Se estudarmos a origem do ser humano, já vamos encontrar invenções que transformaram a vida na Terra: usavam pedra e pedaços de troncos como armas para proteção e para caça, usavam peles de animais como agasalho para resistir ao frio, etc.

  p Daí para frente a história só evoluiu pois surgem as primeiras máquinas agrícolas, favorecendo a alimentação diversificada, aparelhos que facilitam a comunicação e outros que ajudam na cura ou recuperação de doenças.
